/*
=============== 
Variables
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
	--clr-primary: #2680c0;
	--clr-primary-dark: hsl(205, 100%, 21%);
	--clr-primary-light: hsl(205, 84%, 74%);
}
/*
  =============== 
  Global Styles
  ===============
  */

/* * {
	font-family: "Blinker", sans-serif !important;
} */

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: block;
	background-color: #1164b1;
	height: 100vh;
}
